/week0/MultK-input/
/week1/maxsum-input/
/week2/BalanceSplit/balancesplit-input/
/week3/CutRod/cutrod-input/
/week3/MinimumCoin/mincoin-input/
/week3/Assignment1/greyness-input/
/week4/CutRodMemoization/cutrod-input/
/week4/MinimumCoin/mincoin-input/
/week4/Knapsack/knapsack-input/
/week3/Assignment1/greyness-input/
/week5/ProblemA-Edit-Distance/input/
/week5/ProblemB-Frog/input/
/week7/ShoesShopping/input/
